In [4]:
import graphlab as gl

In [48]:
train_data = gl.SFrame("../data/kaggle_titanic/train.csv")
test_data = gl.SFrame("../data/kaggle_titanic/test.csv")

Finished parsing file /Users/danolee/python/ml_training/hyundai card/data/kaggle_titanic/train.csv

Parsing completed. Parsed 100 lines in 0.047524 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/danolee/python/ml_training/hyundai card/data/kaggle_titanic/train.csv

Parsing completed. Parsed 891 lines in 0.012802 secs.

Finished parsing file /Users/danolee/python/ml_training/hyundai card/data/kaggle_titanic/test.csv

Parsing completed. Parsed 100 lines in 0.014995 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/danolee/python/ml_training/hyundai card/data/kaggle_titanic/test.csv

Parsing completed. Parsed 418 lines in 0.013075 secs.

# SFrame에서 특정 컬럼만 선택하기

    SFrame[컬럼이름들]

In [52]:
train_data.head()

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	Embarked_filled	str

Rows: 10

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  | female |
+-------------+----------+--------+--------------------------------+--------+
+------+-------+-------+------------------+---------+-------+----------+-----------------+
| Age  | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked | Embarked_filled |
+------+-------+-------+------------------+---------+-------+----------+-----------------+
| 22.0 |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |        S        |
| 38.0 |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |        C        |
| 26.0 |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |        S        |
| 35.0 |   1   |   0   |      113803      |   53.1  |  C123 |    S     |        S        |
| 35.0 |   0   |   0   |      373450      |   8.05  |       |    S     |        S        |
| None |   0   |   0   |      330877      |  8.4583 |       |    Q     |        Q        |
| 54.0 |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |        S        |
| 2.0  |   3   |   1   |      349909      |  21.075 |       |    S     |        S        |
| 27.0 |   0   |   2   |      347742      | 11.1333 |       |    S     |        S        |
| 14.0 |   1   |   0   |      237736      | 30.0708 |       |    C     |        C        |
+------+-------+-------+------------------+---------+-------+----------+-----------------+
[10 rows x 13 columns]

### 컬럼 하나 선택하기

In [53]:
train_data['Fare']

dtype: float
Rows: 891
[7.25, 71.2833, 7.925, 53.1, 8.05, 8.4583, 51.8625, 21.075, 11.1333, 30.0708, 16.7, 26.55, 8.05, 31.275, 7.8542, 16.0, 29.125, 13.0, 18.0, 7.225, 26.0, 13.0, 8.0292, 35.5, 21.075, 31.3875, 7.225, 263.0, 7.8792, 7.8958, 27.7208, 146.5208, 7.75, 10.5, 82.1708, 52.0, 7.2292, 8.05, 18.0, 11.2417, 9.475, 21.0, 7.8958, 41.5792, 7.8792, 8.05, 15.5, 7.75, 21.6792, 17.8, 39.6875, 7.8, 76.7292, 26.0, 61.9792, 35.5, 10.5, 7.2292, 27.75, 46.9, 7.2292, 80.0, 83.475, 27.9, 27.7208, 15.2458, 10.5, 8.1583, 7.925, 8.6625, 10.5, 46.9, 73.5, 14.4542, 56.4958, 7.65, 7.8958, 8.05, 29.0, 12.475, 9.0, 9.5, 7.7875, 47.1, 10.5, 15.85, 34.375, 8.05, 263.0, 8.05, 8.05, 7.8542, 61.175, 20.575, 7.25, 8.05, 34.6542, 63.3583, 23.0, 26.0, ... ]

### 컬럼 여러개 선택하기

In [57]:
train_data['Fare', 'Embarked']

Columns:
	Fare	float
	Embarked	str

Rows: 891

Data:
+---------+----------+
|   Fare  | Embarked |
+---------+----------+
|   7.25  |    S     |
| 71.2833 |    C     |
|  7.925  |    S     |
|   53.1  |    S     |
|   8.05  |    S     |
|  8.4583 |    Q     |
| 51.8625 |    S     |
|  21.075 |    S     |
| 11.1333 |    S     |
| 30.0708 |    C     |
+---------+----------+
[891 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# 비어 있는 값 찾기

- NA (None) 값이 있는 경우
- string type 데이터에서 값이 ''(공백)으로 되어 있는 경우

### None으로 되어 있는 경우

In [77]:
test_data[test_data['Fare'] == None]

Columns:
	PassengerId	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str

Rows: Unknown

Data:
+-------------+--------+--------------------+------+------+-------+-------+--------+
| PassengerId | Pclass |        Name        | Sex  | Age  | SibSp | Parch | Ticket |
+-------------+--------+--------------------+------+------+-------+-------+--------+
|     1044    |   3    | Storey, Mr. Thomas | male | 60.5 |   0   |   0   |  3701  |
+-------------+--------+--------------------+------+------+-------+-------+--------+
+------+-------+----------+
| Fare | Cabin | Embarked |
+------+-------+----------+
| None |       |    S     |
+------+-------+----------+
[? rows x 11 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [34]:
fare_for_none = test_data['Fare'].mean()

fillna 메소드를 이용해서 None으로 비어 있는 값을 지정할 수 있습니다.

    SFrame.fillna(column=컬럼이름, value=지정하고자하는값)
    
**주의: 반드시 다시 SFrame에 저장해야 합니다.** 여기서는 **new_test_data**라는 새로운 변수명을 사용합시다.

In [35]:
new_test_data = test_data.fillna(column='Fare', value=fare_for_none)

In [36]:
new_test_data[new_test_data['PassengerId'] == 1044]

Columns:
	PassengerId	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str

Rows: Unknown

Data:
+-------------+--------+--------------------+------+------+-------+-------+--------+
| PassengerId | Pclass |        Name        | Sex  | Age  | SibSp | Parch | Ticket |
+-------------+--------+--------------------+------+------+-------+-------+--------+
|     1044    |   3    | Storey, Mr. Thomas | male | 60.5 |   0   |   0   |  3701  |
+-------------+--------+--------------------+------+------+-------+-------+--------+
+---------------+-------+----------+
|      Fare     | Cabin | Embarked |
+---------------+-------+----------+
| 35.6271884892 |       |    S     |
+---------------+-------+----------+
[? rows x 11 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

### 공백으로 되어 있는 경우

In [49]:
train_data[train_data['Embarked'] == '']

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str

Rows: Unknown

Data:
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      62     |    1     |   1    |      Icard, Miss. Amelie      | female |
|     830     |    1     |   1    | Stone, Mrs. George Nelson ... | female |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+--------+------+-------+----------+
| Age  | SibSp | Parch | Ticket | Fare | Cabin | Embarked |
+------+-------+-------+--------+------+-------+----------+
| 38.0 |   0   |   0   | 113572 | 80.0 |  B28  |          |
| 62.0 |   0   |   0   | 113572 | 80.0 |  B28  |          |
+------+-------+-------+--------+------+-------+----------+
[? rows x 12 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

이 값은 다음 섹션에서 함수를 만들어서 채우고자 합니다.

### numpy는 isnull을 사용합니다.

pandas와 numpy를 사용하는 경우 다음 메소드를 이용하면 각 셀에 들어있는 데이터에 null 값이 있는지를 확인해 줍니다. 

    DataFrame.isnulll()
    Series.isnull()

In [94]:
import numpy as np
import pandas as pd

train_df = pd.read_csv('../data/kaggle_titanic/train.csv')
test_df = pd.read_csv('../data/kaggle_titanic/test.csv')

In [83]:
test_df.isnull()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,True,False
10,False,False,False,False,True,False,False,False,False,True,False
11,False,False,False,False,False,False,False,False,False,True,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,False,False,False,True,False
17,False,False,False,False,False,False,False,False,False,True,False
18,False,False,False,False,False,False,False,False,False,True,False
19,False,False,False,False,False,False,False,False,False,True,False
20,False,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False,False,True,False
22,False,False,False,False,True,False,False,False,False,True,False
23,False,False,False,False,False,False,False,False,False,True,False
24,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,True,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
388,False,False,False,False,False,False,False,False,False,True,False
389,False,False,False,False,False,False,False,False,False,True,False
390,False,False,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False,True,False
393,False,False,False,False,False,False,False,False,False,True,False
394,False,False,False,False,False,False,False,False,False,True,False
395,False,False,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False,True,False
397,False,False,False,False,False,False,False,False,False,False,False
398,False,False,False,False,False,False,False,False,False,True,False
399,False,False,False,False,False,False,False,False,False,True,False
400,False,False,False,False,False,False,False,False,False,False,False
401,False,False,False,False,False,False,False,False,False,True,False
402,False,False,False,False,False,False,False,False,False,True,False
403,False,False,False,False,False,False,False,False,False,True,False
404,False,False,False,False,False,False,False,False,False,False,False
405,False,False,False,False,False,False,False,False,False,False,False
406,False,False,False,False,False,False,False,False,False,True,False
407,False,False,False,False,False,False,False,False,False,False,False
408,False,False,False,False,True,False,False,False,False,True,False
409,False,False,False,False,False,False,False,False,False,True,False
410,False,False,False,False,True,False,False,False,False,True,False
411,False,False,False,False,False,False,False,False,False,False,False
412,False,False,False,False,False,False,False,False,False,True,False
413,False,False,False,False,True,False,False,False,False,True,False
414,False,False,False,False,False,False,False,False,False,False,False
415,False,False,False,False,False,False,False,False,False,True,False
416,False,False,False,False,True,False,False,False,False,True,False
417,False,False,False,False,True,False,False,False,False,True,False

In [84]:
test_df['Fare'].isnull()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
400    False
401    False
402    False
403    False
404    False
405    False
406    False
407    False
408    False
409    False
410    False
411    False
412    False
413    False
414    False
415    False
416    False
417    False
Name: Fare, Length: 418, dtype: bool

### isnull은 numeric data type인 경우 NaN을 찾아 줍니다.

In [92]:
test_df[test_df['Fare'].isnull()]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
152,1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

### isnull은 string data type인 경우 공백을 찾아 줍니다.

In [110]:
train_df[train_df['Embarked'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

# 함수 만들기

    def 함수명(받고자하는인자1, 받고자하는인자2, ...):
        
- 인자는 없을 수도 있다.
- 반드시 뒤에 :을 사용하자
- 값을 반환하려면 return을 사용하자

In [40]:
def fillSforEmbarked(value):
    if value == '':
        return 'S'
    else:
        return value

In [50]:
train_data['Embarked_filled'] = train_data['Embarked'].apply(fillSforEmbarked)

In [51]:
train_data[(train_data['PassengerId'] == 62) | (train_data['PassengerId'] == 830)]

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	Embarked_filled	str

Rows: Unknown

Data:
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      62     |    1     |   1    |      Icard, Miss. Amelie      | female |
|     830     |    1     |   1    | Stone, Mrs. George Nelson ... | female |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+--------+------+-------+----------+-----------------+
| Age  | SibSp | Parch | Ticket | Fare | Cabin | Embarked | Embarked_filled |
+------+-------+-------+--------+------+-------+----------+-----------------+
| 38.0 |   0   |   0   | 113572 | 80.0 |  B28  |          |        S        |
| 62.0 |   0   |   0   | 113572 | 80.0 |  B28  |          |        S        |
+------+-------+-------+--------+------+-------+----------+-----------------+
[? rows x 13 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

# 시간 측정하기

- 시간을 측정해서 더 나은 방법을 찾는다.
- 먼저 작은 데이터에 대해서 테스트를 진행하고 큰 데이터를 적용해 보자.

In [1]:
import time

start_time = time.time()
count = 0
for i in range(100000):
    count += 1
print count

end_time = time.time()

print "duration: ", end_time - start_time

100000
duration:  0.041435956955

In [159]:
products = gl.SFrame('../data/amazon_baby.gl/')
products['word_count'] = gl.text_analytics.count_words(products['review'])
filtered_products = products[products['rating'] != 3]

selected_words = ['awesome', 'great', 'fantastic', 'amazing', 'love', 'horrible', 'bad', 'terrible', 'awful', 'wow', 'hate']

def selected_word_count(dict, w):
    if w in dict:
        return dict[w]
    else:
        return 0

### loop로 직접 세기 BOMSHIK's solution

In [21]:
start_time = time.time()

temp_wc = filtered_products['word_count']
temp_len = len (temp_wc)

for w in selected_words:
    i = 0 
    cnt = 0
    while i < temp_len :
        cnt = cnt + selected_word_count(temp_wc[i], w)
        i = i+1
    print w + " : " + str(cnt)
    
end_time = time.time()
print "duration: ", end_time - start_time

awesome : 2002
great : 42420
fantastic : 873
amazing : 1305
love : 40277
horrible : 659
bad : 3197
terrible : 673
awful : 345
wow : 131
hate : 1057
duration:  369.424745083

이 솔루션은 369.4초가 걸렸습니다.

### lambda와 apply 사용하기

In [20]:
start_time = time.time()

for w in selected_words:
    filtered_products[w] = filtered_products['word_count'].apply(lambda x:selected_word_count(x, w))
    print w, filtered_products[w].sum()
    
end_time = time.time()
print "duration: ", end_time - start_time

awesome 2002
great 42420
fantastic 873
amazing 1305
love 40277
horrible 659
bad 3197
terrible 673
awful 345
wow 131
hate 1057
duration:  55.6740069389

이 솔루션은 55.6초가 걸렸습니다.

### 결론
 
 - length를 계산하는 게 불필요하다.
 - apply의 강력함을 알 수 있다.
 - 카운트를 개별적으로 세는 것보다 SArray의 sum으로 계산하는 게 훨씬 빠르다.
 
**데이터가 많을수록 효과는 극적으로 벌어진다. 따라서 apply와 sum을 잘 활용하자.**

# pandas의 get_dummies

카테고리 값이 2개 이상인 feature들을 각각의 개별 컬럼으로 만들어 줍시다. 해당 결과를 **X_dummies**에 저장합시다.

    pd.get_dummies(데이터셋, 변환하고자하는컬럼이름들리스트, drop_first=True)

In [120]:
full_df = pd.concat([train_df.drop('Survived', axis=1), test_df], axis=0)

In [121]:
full_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [122]:
converting_columns = ['Pclass']
drop_features = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked', 'Sex', 'Age']
features = list(set(full_df.columns.values.tolist()) - set(drop_features))

In [123]:
X_dummies = pd.get_dummies(full_df[features], 
                           columns = converting_columns,
                           drop_first=True)

In [124]:
X_dummies.head()

      Fare  SibSp  Parch  Pclass_2  Pclass_3
0   7.2500      1      0         0         1
1  71.2833      1      0         0         0
2   7.9250      0      0         0         1
3  53.1000      1      0         0         0
4   8.0500      0      0         0         1

### 결론

drop_first는 해당값이 0인 컬럼을 별도로 생성하지 않는다.

# Image data & Normalize

이미지는 가로 x 세로 x 채널수 만큼의 수 - 픽셀의 수 - 로 나타낼 수 있다. 채널수는 단색은 1, RGB는 3이다.

한 픽셀은 색상을 몇가지로 표현할지에 따라서 다양한 값을 가질 수 있다. 256bit인 경우 0 ~ 255의 값을 가진다.


### normarlization
특정 구간의 값을 0 ~ 1 사이로 만든다. 0 ~ 255의 구간에서 변동하는 값이라면 255로 나누면 된다.

In [126]:
image_train = gl.SFrame('../data/image_train_data/')

In [132]:
image_train.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.242871761322, 1.0954537... |
|  33 | Height: 32 Width: 32 |    cat     | [0.525087952614, 0.0, 0.0,... |
|  36 | Height: 32 Width: 32 |    cat     | [0.566015958786, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |    dog     | [1.12979578972, 0.0, 0.0, ... |
|  90 | Height: 32 Width: 32 |    bird    | [1.71786928177, 0.0, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.57818555832, 0.0, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.220677852631,... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464222, 0.0, ... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.658935725689, 0.0, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[10 rows x 5 columns]

In [135]:
type(image_train['image_array'])

graphlab.data_structures.sarray.SArray

In [136]:
image_train['image_array'][0]

array('d', [73.0, 77.0, 58.0, 71.0, 68.0, 50.0, 77.0, 69.0, 44.0, 120.0, 116.0, 83.0, 125.0, 120.0, 90.0, 155.0, 148.0, 117.0, 147.0, 152.0, 106.0, 133.0, 136.0, 92.0, 112.0, 101.0, 75.0, 100.0, 84.0, 68.0, 100.0, 78.0, 74.0, 69.0, 49.0, 51.0, 22.0, 16.0, 13.0, 35.0, 27.0, 24.0, 52.0, 40.0, 40.0, 70.0, 55.0, 54.0, 117.0, 97.0, 89.0, 122.0, 101.0, 99.0, 103.0, 85.0, 88.0, 88.0, 74.0, 73.0, 68.0, 59.0, 52.0, 72.0, 65.0, 52.0, 82.0, 73.0, 60.0, 84.0, 72.0, 68.0, 84.0, 67.0, 73.0, 77.0, 56.0, 65.0, 93.0, 75.0, 81.0, 117.0, 102.0, 98.0, 174.0, 171.0, 146.0, 183.0, 210.0, 149.0, 180.0, 214.0, 143.0, 185.0, 225.0, 144.0, 73.0, 74.0, 52.0, 75.0, 68.0, 55.0, 78.0, 64.0, 50.0, 103.0, 90.0, 64.0, 80.0, 65.0, 35.0, 127.0, 110.0, 80.0, 136.0, 127.0, 98.0, 141.0, 134.0, 109.0, 129.0, 113.0, 92.0, 115.0, 97.0, 72.0, 111.0, 91.0, 61.0, 115.0, 96.0, 67.0, 94.0, 83.0, 65.0, 92.0, 78.0, 65.0, 78.0, 60.0, 53.0, 89.0, 68.0, 64.0, 123.0, 99.0, 92.0, 117.0, 93.0, 92.0, 118.0, 97.0, 102.0, 121.0, 103.0, 103.0, 137.0, 125.0, 116.0, 168.0, 159.0, 141.0, 134.0, 124.0, 104.0, 98.0, 86.0, 74.0, 135.0, 124.0, 115.0, 133.0, 131.0, 108.0, 158.0, 167.0, 126.0, 163.0, 185.0, 125.0, 184.0, 217.0, 143.0, 181.0, 229.0, 139.0, 172.0, 220.0, 129.0, 174.0, 218.0, 127.0, 77.0, 72.0, 64.0, 94.0, 82.0, 79.0, 99.0, 81.0, 73.0, 116.0, 97.0, 74.0, 130.0, 106.0, 74.0, 149.0, 122.0, 93.0, 138.0, 118.0, 101.0, 134.0, 121.0, 109.0, 148.0, 140.0, 117.0, 154.0, 143.0, 113.0, 149.0, 137.0, 99.0, 145.0, 127.0, 87.0, 168.0, 136.0, 102.0, 174.0, 137.0, 111.0, 180.0, 137.0, 121.0, 178.0, 134.0, 126.0, 160.0, 126.0, 127.0, 141.0, 112.0, 124.0, 110.0, 84.0, 100.0, 110.0, 87.0, 99.0, 105.0, 90.0, 94.0, 124.0, 121.0, 106.0, 151.0, 162.0, 119.0, 155.0, 177.0, 117.0, 190.0, 216.0, 152.0, 192.0, 220.0, 151.0, 201.0, 236.0, 156.0, 193.0, 234.0, 155.0, 165.0, 208.0, 135.0, 175.0, 213.0, 139.0, 191.0, 230.0, 152.0, 185.0, 226.0, 142.0, 90.0, 85.0, 88.0, 99.0, 88.0, 91.0, 107.0, 92.0, 91.0, 108.0, 90.0, 78.0, 114.0, 92.0, 74.0, 137.0, 109.0, 98.0, 146.0, 115.0, 114.0, 130.0, 106.0, 113.0, 114.0, 100.0, 103.0, 130.0, 120.0, 106.0, 145.0, 137.0, 111.0, 129.0, 117.0, 87.0, 173.0, 142.0, 118.0, 164.0, 125.0, 112.0, 151.0, 112.0, 102.0, 150.0, 116.0, 102.0, 138.0, 111.0, 110.0, 146.0, 121.0, 130.0, 121.0, 97.0, 107.0, 100.0, 76.0, 86.0, 122.0, 108.0, 114.0, 137.0, 133.0, 128.0, 145.0, 151.0, 127.0, 150.0, 166.0, 125.0, 157.0, 172.0, 127.0, 148.0, 153.0, 116.0, 130.0, 133.0, 97.0, 114.0, 124.0, 83.0, 88.0, 105.0, 75.0, 191.0, 209.0, 166.0, 206.0, 238.0, 174.0, 186.0, 224.0, 154.0, 88.0, 82.0, 94.0, 94.0, 85.0, 89.0, 96.0, 85.0, 83.0, 120.0, 109.0, 98.0, 87.0, 71.0, 61.0, 110.0, 87.0, 85.0, 133.0, 101.0, 107.0, 130.0, 100.0, 117.0, 117.0, 96.0, 115.0, 112.0, 98.0, 95.0, 119.0, 110.0, 93.0, 125.0, 116.0, 98.0, 163.0, 140.0, 132.0, 145.0, 113.0, 113.0, 118.0, 87.0, 84.0, 125.0, 105.0, 89.0, 112.0, 99.0, 88.0, 94.0, 82.0, 77.0, 87.0, 75.0, 71.0, 73.0, 59.0, 59.0, 83.0, 73.0, 73.0, 68.0, 59.0, 59.0, 66.0, 59.0, 55.0, 76.0, 69.0, 62.0, 49.0, 42.0, 31.0, 52.0, 40.0, 38.0, 61.0, 48.0, 39.0, 85.0, 85.0, 49.0, 176.0, 188.0, 152.0, 213.0, 235.0, 182.0, 199.0, 229.0, 163.0, 121.0, 145.0, 94.0, 72.0, 67.0, 75.0, 77.0, 70.0, 68.0, 96.0, 86.0, 78.0, 151.0, 145.0, 124.0, 87.0, 79.0, 58.0, 96.0, 80.0, 71.0, 121.0, 96.0, 99.0, 117.0, 91.0, 107.0, 101.0, 81.0, 99.0, 99.0, 83.0, 87.0, 92.0, 80.0, 79.0, 79.0, 67.0, 68.0, 176.0, 153.0, 156.0, 152.0, 118.0, 118.0, 111.0, 74.0, 69.0, 111.0, 83.0, 70.0, 113.0, 105.0, 85.0, 74.0, 72.0, 54.0, 49.0, 46.0, 34.0, 41.0, 36.0, 31.0, 38.0, 32.0, 31.0, 34.0, 27.0, 25.0, 46.0, 36.0, 32.0, 74.0, 61.0, 54.0, 46.0, 32.0, 28.0, 42.0, 30.0, 37.0, 60.0, 57.0, 44.0, 144.0, 154.0, 101.0, 215.0, 233.0, 174.0, 195.0, 224.0, 158.0, 134.0, 154.0, 98.0, 60.0, 61.0, 35.0, 66.0, 64.0, 49.0, 69.0, 63.0, 49.0, 80.0, 70.0, 58.0, 128.0, 127.0, 99.0, 83.0, 84.0, 53.0, 71.0, 62.0, 48.0, 89.0, 70.0, 72.0, 91.0, 70.0, 80.0, 73.0, 54.0, 61.0, 71.0, 57.0, 56.0, 63.0, 51.0, 52.0, 95.0, 83.0, 93.0, 195.0, 172.0, 185.0, 136.0, 100.0, 103.0, 112.0, 71.0, 65.0, 98.0, 61.0, 52.0, 107.0, 96.0, 69.0, 104.0, 102.0, 74.0, 64.0, 59.0, 43.0, 34.0, 27.0, 21.0, 29.0, 25.0, 24.0, 41.0, 35.0, 34.0, 47.0, 34.0, 31.0, 86.0, 66.0, 62.0, 54.0, 35.0, 34.0, 38.0, 29.0, 35.0, 78.0, 85.0, 66.0, 176.0, 193.0, 131.0, 173.0, 190.0, 130.0, 112.0, 129.0, 92.0, 62.0, 62.0, 41.0, 56.0, 41.0, 36.0, 103.0, 106.0, 70.0, 73.0, 71.0, 46.0, 66.0, 58.0, 44.0, 104.0, 106.0, 77.0, 80.0, 87.0, 52.0, 49.0, 46.0, 29.0, 53.0, 43.0, 41.0, 52.0, 37.0, 41.0, 50.0, 35.0, 36.0, 58.0, 43.0, 44.0, 52.0, 36.0, 44.0, 142.0, 124.0, 144.0, 188.0, 161.0, 187.0, 128.0, 86.0, 89.0, 110.0, 65.0, 54.0, 89.0, 57.0, 44.0, 119.0, 108.0, 79.0, 128.0, 126.0, 92.0, 93.0, 89.0, 69.0, 65.0, 60.0, 45.0, 39.0, 32.0, 20.0, 38.0, 30.0, 25.0, 42.0, 29.0, 26.0, 86.0, 62.0, 60.0, 74.0, 43.0, 41.0, 103.0, 83.0, 82.0, 126.0, 128.0, 112.0, 134.0, 144.0, 105.0, 82.0, 84.0, 55.0, 52.0, 47.0, 46.0, 56.0, 40.0, 46.0, 63.0, 41.0, 46.0, 58.0, 62.0, 34.0, 61.0, 60.0, 38.0, 67.0, 62.0, 47.0, 134.0, 139.0, 111.0, 129.0, 139.0, 107.0, 51.0, 54.0, 35.0, 38.0, 35.0, 29.0, 25.0, 18.0, 19.0, 30.0, 21.0, 26.0, 38.0, 25.0, 37.0, 70.0, 52.0, 72.0, 160.0, 139.0, 163.0, 134.0, 110.0, 126.0, 131.0, 104.0, 104.0, 155.0, 133.0, 117.0, 132.0, 119.0, 98.0, 120.0, 116.0, 92.0, 136.0, 138.0, 103.0, 112.0, 114.0, 90.0, 87.0, 88.0, 61.0, 81.0, 72.0, 44.0, 58.0, 44.0, 34.0, 56.0, 41.0, 39.0, 100.0, 72.0, 72.0, 145.0, 103.0, 101.0, 155.0, 119.0, 116.0, 110.0, 99.0, 91.0, 87.0, 82.0, 76.0, 76.0, 62.0, 61.0, 65.0, 51.0, 48.0, 64.0, 51.0, 45.0, 58.0, 43.0, 34.0, 9.0, 9.0, 5.0, 27.0, 24.0, 16.0, 59.0, 53.0, 42.0, 152.0, 154.0, 130.0, 182.0, 188.0, 161.0, 58.0, 61.0, 42.0, 43.0, 44.0, 33.0, 17.0, 16.0, 13.0, 18.0, 16.0, 20.0, 50.0, 43.0, 55.0, 89.0, 78.0, 99.0, 102.0, 87.0, 105.0, 106.0, 96.0, 98.0, 115.0, 131.0, 146.0, 172.0, 195.0, 207.0, 222.0, 229.0, 224.0, 142.0, 146.0, 140.0, 123.0, 126.0, 101.0, 138.0, 137.0, 112.0, 107.0, 109.0, 85.0, 98.0, 91.0, 65.0, 82.0, 63.0, 53.0, 79.0, 55.0, 55.0, 110.0, 77.0, 78.0, 148.0, 109.0, 109.0, 125.0, 94.0, 92.0, 76.0, 60.0, 54.0, 76.0, 65.0, 59.0, 81.0, 67.0, 58.0, 90.0, 85.0, 57.0, 93.0, 91.0, 57.0, 84.0, 85.0, 47.0, 9.0, 8.0, 13.0, 15.0, 11.0, 10.0, 36.0, 30.0, 26.0, 106.0, 104.0, 88.0, 186.0, 187.0, 165.0, 73.0, 76.0, 58.0, 51.0, 56.0, 40.0, 64.0, 67.0, 55.0, 92.0, 89.0, 83.0, 84.0, 77.0, 79.0, 74.0, 62.0, 72.0, 99.0, 84.0, 98.0, 120.0, 118.0, 136.0, 83.0, 109.0, 145.0, 145.0, 180.0, 210.0, 205.0, 226.0, 242.0, 149.0, 163.0, 185.0, 129.0, 135.0, 120.0, 136.0, 132.0, 104.0, 105.0, 107.0, 87.0, 112.0, 113.0, 90.0, 86.0, 72.0, 61.0, 92.0, 66.0, 67.0, 94.0, 66.0, 66.0, 70.0, 43.0, 41.0, 68.0, 42.0, 43.0, 74.0, 53.0, 51.0, 76.0, 59.0, 52.0, 57.0, 43.0, 31.0, 74.0, 64.0, 41.0, 86.0, 82.0, 54.0, 91.0, 95.0, 61.0, 32.0, 28.0, 26.0, 44.0, 37.0, 37.0, 45.0, 34.0, 33.0, 84.0, 75.0, 65.0, 176.0, 174.0, 155.0, 95.0, 98.0, 78.0, 53.0, 60.0, 40.0, 83.0, 86.0, 66.0, 131.0, 123.0, 109.0, 100.0, 87.0, 80.0, 116.0, 97.0, 99.0, 93.0, 74.0, 83.0, 50.0, 47.0, 64.0, 52.0, 63.0, 81.0, 164.0, 189.0, 201.0, 175.0, 210.0, 230.0, 107.0, 134.0, 166.0, 106.0, 113.0, 102.0, 115.0, 107.0, 80.0, 110.0, 106.0, 91.0, 103.0, 110.0, 85.0, 88.0, 86.0, 66.0, 67.0, 50.0, 43.0, 75.0, 59.0, 50.0, 71.0, 58.0, 52.0, 52.0, 33.0, 34.0, 77.0, 56.0, 51.0, 91.0, 73.0, 61.0, 60.0, 45.0, 34.0, 68.0, 48.0, 49.0, 56.0, 42.0, 36.0, 38.0, 34.0, 17.0, 72.0, 53.0, 46.0, 68.0, 47.0, 48.0, 84.0, 64.0, 60.0, 97.0, 80.0, 72.0, 170.0, 165.0, 148.0, 117.0, 122.0, 96.0, 57.0, 63.0, 39.0, 80.0, 80.0, 61.0, 77.0, 72.0, 56.0, 95.0, 83.0, 79.0, 101.0, 80.0, 86.0, 88.0, 62.0, 74.0, 63.0, 42.0, 56.0, 29.0, 30.0, 39.0, 104.0, 132.0, 154.0, 110.0, 154.0, 201.0, 69.0, 104.0, 131.0, 73.0, 78.0, 64.0, 118.0, 97.0, 83.0, 128.0, 110.0, 100.0, 118.0, 118.0, 89.0, 102.0, 104.0, 70.0, 82.0, 79.0, 50.0, 112.0, 106.0, 78.0, 100.0, 93.0, 78.0, 52.0, 40.0, 38.0, 87.0, 69.0, 57.0, 91.0, 74.0, 59.0, 64.0, 51.0, 43.0, 69.0, 54.0, 54.0, 59.0, 52.0, 35.0, 94.0, 100.0, 57.0, 66.0, 48.0, 39.0, 75.0, 56.0, 52.0, 83.0, 65.0, 59.0, 85.0, 73.0, 64.0, 155.0, 155.0, 136.0, 131.0, 138.0, 115.0, 58.0, 61.0, 48.0, 71.0, 69.0, 57.0, 56.0, 54.0, 36.0, 60.0, 50.0, 42.0, 79.0, 61.0, 68.0, 118.0, 92.0, 112.0, 115.0, 88.0, 109.0, 95.0, 86.0, 109.0, 80.0, 93.0, 136.0, 58.0, 85.0, 153.0, 74.0, 92.0, 137.0, 67.0, 62.0, 58.0, 123.0, 105.0, 89.0, 120.0, 115.0, 100.0, 111.0, 115.0, 90.0, 114.0, 115.0, 87.0, 88.0, 86.0, 57.0, 90.0, 85.0, 54.0, 111.0, 103.0, 75.0, 93.0, 78.0, 58.0, 106.0, 86.0, 68.0, 82.0, 65.0, 53.0, 60.0, 49.0, 40.0, 77.0, 72.0, 49.0, 131.0, 138.0, 100.0, 142.0, 167.0, 109.0, 81.0, 68.0, 55.0, 70.0, 57.0, 46.0, 79.0, 64.0, 59.0, 55.0, 50.0, 42.0, 125.0, 133.0, 112.0, 132.0, 144.0, 116.0, 66.0, 69.0, 48.0, 62.0, 61.0, 44.0, 62.0, 64.0, 42.0, 49.0, 45.0, 27.0, 95.0, 80.0, 86.0, 174.0, 151.0, 179.0, 117.0, 97.0, 124.0, 88.0, 78.0, 117.0, 67.0, 70.0, 131.0, 58.0, 69.0, 151.0, 74.0, 81.0, 147.0, 57.0, 48.0, 56.0, 113.0, 97.0, 80.0, 104.0, 104.0, 87.0, 99.0, 106.0, 80.0, 108.0, 109.0, 81.0, 106.0, 103.0, 77.0, 82.0, 76.0, 53.0, 115.0, 108.0, 78.0, 165.0, 155.0, 122.0, 122.0, 107.0, 88.0, 63.0, 55.0, 42.0, 63.0, 67.0, 49.0, 144.0, 152.0, 126.0, 158.0, 172.0, 143.0, 126.0, 151.0, 117.0, 99.0, 88.0, 72.0, 70.0, 60.0, 42.0, 48.0, 37.0, 31.0, 35.0, 35.0, 28.0, 104.0, 117.0, 94.0, 128.0, 144.0, 105.0, 95.0, 104.0, 60.0, 71.0, 75.0, 40.0, 67.0, 74.0, 45.0, 110.0, 111.0, 86.0, 138.0, 128.0, 130.0, 94.0, 77.0, 103.0, 37.0, 29.0, 51.0, 42.0, 39.0, 85.0, 60.0, 63.0, 138.0, 77.0, 85.0, 178.0, 69.0, 76.0, 157.0, 52.0, 44.0, 59.0, 104.0, 82.0, 64.0, 93.0, 85.0, 70.0, 96.0, 102.0, 71.0, 105.0, 107.0, 74.0, 106.0, 103.0, 84.0, 82.0, 74.0, 69.0, 104.0, 97.0, 96.0, 105.0, 98.0, 105.0, 89.0, 80.0, 101.0, 82.0, 83.0, 102.0, 110.0, 124.0, 131.0, 133.0, 148.0, 145.0, 104.0, 116.0, 120.0, 84.0, 94.0, 105.0, 98.0, 94.0, 62.0, 107.0, 106.0, 66.0, 67.0, 76.0, 43.0, 82.0, 98.0, 63.0, 102.0, 119.0, 79.0, 110.0, 128.0, 83.0, 96.0, 114.0, 58.0, 101.0, 122.0, 59.0, 101.0, 122.0, 70.0, 173.0, 185.0, 156.0, 125.0, 130.0, 112.0, 72.0, 76.0, 53.0, 57.0, 62.0, 50.0, 47.0, 49.0, 100.0, 71.0, 74.0, 176.0, 101.0, 108.0, 225.0, 76.0, 74.0, 167.0, 67.0, 53.0, 64.0, 116.0, 80.0, 70.0, 103.0, 82.0, 83.0, 85.0, 86.0, 73.0, 81.0, 80.0, 74.0, 78.0, 77.0, 87.0, 79.0, 78.0, 103.0, 82.0, 83.0, 114.0, 81.0, 84.0, 116.0, 98.0, 98.0, 137.0, 106.0, 105.0, 148.0, 106.0, 109.0, 148.0, 84.0, 97.0, 122.0, 82.0, 90.0, 122.0, 80.0, 82.0, 119.0, 91.0, 97.0, 56.0, 126.0, 139.0, 75.0, 128.0, 153.0, 87.0, 143.0, 173.0, 105.0, 124.0, 149.0, 87.0, 113.0, 130.0, 79.0, 102.0, 115.0, 63.0, 131.0, 147.0, 94.0, 136.0, 157.0, 116.0, 150.0, 165.0, 140.0, 127.0, 141.0, 111.0, 83.0, 97.0, 55.0, 45.0, 58.0, 45.0, 71.0, 81.0, 140.0, 110.0, 122.0, 232.0, 109.0, 123.0, 240.0, 79.0, 75.0, 154.0, 71.0, 61.0, 70.0, 77.0, 62.0, 71.0, 75.0, 63.0, 84.0, 72.0, 69.0, 83.0, 85.0, 83.0, 106.0, 97.0, 97.0, 126.0, 88.0, 89.0, 124.0, 84.0, 89.0, 124.0, 84.0, 89.0, 122.0, 92.0, 94.0, 130.0, 100.0, 97.0, 138.0, 91.0, 89.0, 129.0, 80.0, 88.0, 117.0, 76.0, 82.0, 118.0, 81.0, 84.0, 122.0, 58.0, 66.0, 45.0, 112.0, 133.0, 80.0, 90.0, 115.0, 57.0, 148.0, 177.0, 108.0, 115.0, 141.0, 73.0, 101.0, 116.0, 66.0, 102.0, 106.0, 64.0, 137.0, 142.0, 107.0, 118.0, 131.0, 106.0, 120.0, 134.0, 108.0, 137.0, 154.0, 118.0, 62.0, 81.0, 40.0, 20.0, 40.0, 33.0, 67.0, 82.0, 144.0, 119.0, 137.0, 240.0, 109.0, 131.0, 240.0, 70.0, 65.0, 141.0, 53.0, 29.0, 46.0, 38.0, 34.0, 49.0, 41.0, 44.0, 73.0, 59.0, 57.0, 85.0, 63.0, 67.0, 100.0, 81.0, 83.0, 116.0, 85.0, 87.0, 120.0, 82.0, 85.0, 118.0, 88.0, 93.0, 126.0, 91.0, 94.0, 127.0, 86.0, 85.0, 119.0, 61.0, 59.0, 91.0, 67.0, 71.0, 97.0, 69.0, 74.0, 107.0, 64.0, 70.0, 103.0, 74.0, 77.0, 56.0, 140.0, 158.0, 110.0, 96.0, 112.0, 64.0, 128.0, 142.0, 90.0, 103.0, 117.0, 66.0, 86.0, 95.0, 57.0, 69.0, 76.0, 39.0, 114.0, 122.0, 86.0, 98.0, 109.0, 76.0, 88.0, 104.0, 65.0, 92.0, 112.0, 70.0, 57.0, 80.0, 35.0, 65.0, 83.0, 62.0, 78.0, 90.0, 143.0, 112.0, 126.0, 231.0, 111.0, 130.0, 248.0, 103.0, 89.0, 194.0, 148.0, 81.0, 110.0, 72.0, 39.0, 33.0, 22.0, 28.0, 42.0, 41.0, 48.0, 68.0, 47.0, 59.0, 82.0, 68.0, 75.0, 103.0, 80.0, 81.0, 115.0, 75.0, 77.0, 113.0, 68.0, 74.0, 108.0, 64.0, 67.0, 98.0, 60.0, 59.0, 87.0, 46.0, 44.0, 68.0, 45.0, 46.0, 70.0, 57.0, 60.0, 91.0, 47.0, 56.0, 85.0, 69.0, 61.0, 41.0, 118.0, 122.0, 84.0, 97.0, 105.0, 55.0, 74.0, 85.0, 34.0, 66.0, 72.0, 33.0, 64.0, 63.0, 39.0, 52.0, 50.0, 30.0, 104.0, 106.0, 78.0, 136.0, 144.0, 105.0, 98.0, 116.0, 70.0, 99.0, 121.0, 80.0, 107.0, 127.0, 87.0, 87.0, 109.0, 74.0, 82.0, 100.0, 143.0, 96.0, 115.0, 220.0, 96.0, 124.0, 246.0, 121.0, 116.0, 239.0, 192.0, 103.0, 167.0, 78.0, 40.0, 46.0, 36.0, 43.0, 54.0, 80.0, 78.0, 105.0, 79.0, 90.0, 117.0, 74.0, 79.0, 108.0, 66.0, 65.0, 98.0, 64.0, 62.0, 92.0, 38.0, 39.0, 61.0, 36.0, 36.0, 58.0, 42.0, 40.0, 63.0, 41.0, 38.0, 60.0, 42.0, 42.0, 63.0, 60.0, 62.0, 91.0, 54.0, 61.0, 89.0, 64.0, 59.0, 52.0, 70.0, 72.0, 49.0, 78.0, 88.0, 39.0, 94.0, 109.0, 52.0, 113.0, 120.0, 80.0, 77.0, 71.0, 51.0, 57.0, 52.0, 37.0, 82.0, 81.0, 58.0, 145.0, 152.0, 117.0, 151.0, 169.0, 126.0, 138.0, 156.0, 120.0, 104.0, 118.0, 85.0, 78.0, 100.0, 67.0, 64.0, 84.0, 117.0, 77.0, 97.0, 190.0, 74.0, 102.0, 213.0, 80.0, 103.0, 200.0, 149.0, 124.0, 193.0, 70.0, 57.0, 107.0, 37.0, 49.0, 80.0, 56.0, 60.0, 89.0, 56.0, 61.0, 94.0, 47.0, 50.0, 79.0, 38.0, 37.0, 65.0, 34.0, 31.0, 56.0, 30.0, 26.0, 49.0, 30.0, 26.0, 48.0, 36.0, 33.0, 54.0, 39.0, 36.0, 56.0, 46.0, 45.0, 65.0, 55.0, 56.0, 83.0, 50.0, 54.0, 81.0, 98.0, 107.0, 103.0, 86.0, 93.0, 74.0, 111.0, 120.0, 76.0, 140.0, 152.0, 99.0, 147.0, 154.0, 115.0, 92.0, 91.0, 66.0, 66.0, 69.0, 44.0, 76.0, 83.0, 53.0, 135.0, 143.0, 110.0, 119.0, 134.0, 96.0, 106.0, 117.0, 86.0, 89.0, 94.0, 71.0, 52.0, 64.0, 40.0, 39.0, 51.0, 67.0, 71.0, 82.0, 143.0, 73.0, 85.0, 169.0, 39.0, 58.0, 119.0, 102.0, 121.0, 172.0, 122.0, 105.0, 183.0, 54.0, 48.0, 98.0, 34.0, 44.0, 63.0, 33.0, 32.0, 56.0, 31.0, 31.0, 52.0, 25.0, 26.0, 43.0, 22.0, 21.0, 41.0, 26.0, 22.0, 45.0, 29.0, 26.0, 47.0, 34.0, 31.0, 49.0, 41.0, 38.0, 56.0, 54.0, 50.0, 73.0, 48.0, 45.0, 73.0, 41.0, 43.0, 66.0, 75.0, 88.0, 83.0, 83.0, 86.0, 77.0, 106.0, 101.0, 79.0, 127.0, 131.0, 90.0, 133.0, 139.0, 99.0, 112.0, 115.0, 84.0, 84.0, 96.0, 60.0, 91.0, 105.0, 69.0, 100.0, 108.0, 78.0, 109.0, 121.0, 86.0, 61.0, 64.0, 38.0, 77.0, 71.0, 58.0, 74.0, 75.0, 62.0, 30.0, 34.0, 33.0, 67.0, 70.0, 99.0, 85.0, 83.0, 141.0, 40.0, 39.0, 82.0, 63.0, 65.0, 100.0, 93.0, 83.0, 140.0, 60.0, 49.0, 88.0, 37.0, 32.0, 47.0, 25.0, 19.0, 35.0, 25.0, 24.0, 36.0, 19.0, 22.0, 30.0, 25.0, 28.0, 31.0, 24.0, 24.0, 26.0, 23.0, 22.0, 30.0, 35.0, 33.0, 47.0, 38.0, 34.0, 53.0, 53.0, 45.0, 70.0, 52.0, 46.0, 73.0, 40.0, 40.0, 58.0, 62.0, 68.0, 57.0, 86.0, 77.0, 72.0, 87.0, 73.0, 63.0, 95.0, 94.0, 64.0, 128.0, 134.0, 100.0, 89.0, 92.0, 66.0, 70.0, 80.0, 47.0, 94.0, 105.0, 72.0, 73.0, 82.0, 52.0, 117.0, 128.0, 91.0, 85.0, 90.0, 60.0, 81.0, 79.0, 61.0, 63.0, 67.0, 47.0, 25.0, 25.0, 12.0, 66.0, 53.0, 66.0, 74.0, 64.0, 99.0, 30.0, 28.0, 54.0, 44.0, 40.0, 57.0, 43.0, 51.0, 70.0, 33.0, 39.0, 55.0, 29.0, 22.0, 35.0, 23.0, 19.0, 32.0, 19.0, 19.0, 27.0, 26.0, 29.0, 32.0, 96.0, 103.0, 88.0, 109.0, 118.0, 80.0, 59.0, 66.0, 36.0, 39.0, 41.0, 35.0, 43.0, 41.0, 60.0, 46.0, 42.0, 72.0, 53.0, 50.0, 73.0, 48.0, 46.0, 57.0, 78.0, 74.0, 64.0, 73.0, 57.0, 47.0, 92.0, 78.0, 62.0, 95.0, 95.0, 66.0, 114.0, 120.0, 92.0, 83.0, 86.0, 66.0, 95.0, 98.0, 75.0, 112.0, 116.0, 93.0, 77.0, 83.0, 59.0, 92.0, 99.0, 65.0, 106.0, 113.0, 79.0, 59.0, 63.0, 37.0, 46.0, 51.0, 29.0, 35.0, 30.0, 20.0, 92.0, 57.0, 71.0, 91.0, 65.0, 85.0, 21.0, 19.0, 32.0, 23.0, 24.0, 35.0, 32.0, 34.0, 45.0, 30.0, 32.0, 43.0, 21.0, 22.0, 34.0, 19.0, 21.0, 31.0, 17.0, 19.0, 25.0, 22.0, 24.0, 28.0, 100.0, 109.0, 91.0, 172.0, 191.0, 135.0, 156.0, 177.0, 108.0, 108.0, 124.0, 74.0, 46.0, 57.0, 44.0, 35.0, 44.0, 60.0, 45.0, 48.0, 69.0, 48.0, 44.0, 66.0, 72.0, 64.0, 59.0, 78.0, 67.0, 51.0, 96.0, 86.0, 58.0, 129.0, 129.0, 91.0, 101.0, 107.0, 73.0, 91.0, 97.0, 73.0, 109.0, 118.0, 94.0, 126.0, 131.0, 112.0, 95.0, 92.0, 83.0, 67.0, 65.0, 49.0, 126.0, 125.0, 102.0, 71.0, 68.0, 48.0, 58.0, 54.0, 50.0, 56.0, 43.0, 46.0, 116.0, 67.0, 84.0, 120.0, 72.0, 90.0, 21.0, 11.0, 21.0, 11.0, 11.0, 19.0, 21.0, 20.0, 28.0, 25.0, 25.0, 33.0, 23.0, 22.0, 30.0, 16.0, 16.0, 24.0, 13.0, 13.0, 20.0, 18.0, 18.0, 24.0, 39.0, 45.0, 46.0, 135.0, 151.0, 129.0, 175.0, 199.0, 144.0, 163.0, 192.0, 123.0, 122.0, 150.0, 89.0, 61.0, 82.0, 44.0, 34.0, 43.0, 45.0, 37.0, 36.0, 60.0, 83.0, 88.0, 64.0, 87.0, 96.0, 61.0, 98.0, 102.0, 60.0, 140.0, 143.0, 95.0, 103.0, 109.0, 67.0, 96.0, 107.0, 78.0, 94.0, 111.0, 84.0, 127.0, 140.0, 114.0, 113.0, 114.0, 96.0, 54.0, 54.0, 43.0, 111.0, 111.0, 97.0, 98.0, 96.0, 80.0, 70.0, 69.0, 61.0, 63.0, 55.0, 51.0, 127.0, 75.0, 86.0, 149.0, 85.0, 102.0, 35.0, 18.0, 26.0, 5.0, 5.0, 10.0, 15.0, 12.0, 17.0, 19.0, 16.0, 21.0, 21.0, 18.0, 23.0, 19.0, 17.0, 22.0, 15.0, 12.0, 20.0, 16.0, 13.0, 23.0, 21.0, 19.0, 33.0, 41.0, 46.0, 51.0, 129.0, 144.0, 123.0, 183.0, 207.0, 169.0, 178.0, 206.0, 159.0, 154.0, 181.0, 124.0, 76.0, 96.0, 59.0, 27.0, 35.0, 25.0, 92.0, 112.0, 62.0, 84.0, 109.0, 57.0, 110.0, 127.0, 76.0, 136.0, 147.0, 93.0, 102.0, 112.0, 69.0, 109.0, 123.0, 97.0, 112.0, 133.0, 109.0, 99.0, 119.0, 84.0, 130.0, 141.0, 104.0, 83.0, 91.0, 70.0, 73.0, 80.0, 64.0, 117.0, 123.0, 102.0, 66.0, 80.0, 49.0, 73.0, 80.0, 57.0, 131.0, 89.0, 91.0, 158.0, 92.0, 106.0, 70.0, 46.0, 52.0, 10.0, 5.0, 7.0, 12.0, 7.0, 10.0, 13.0, 7.0, 11.0, 16.0, 11.0, 14.0, 19.0, 14.0, 18.0, 23.0, 18.0, 26.0, 23.0, 18.0, 30.0, 27.0, 22.0, 34.0, 29.0, 25.0, 34.0, 39.0, 42.0, 47.0, 141.0, 151.0, 158.0, 181.0, 196.0, 203.0, 174.0, 195.0, 176.0, 156.0, 177.0, 138.0, 59.0, 71.0, 48.0, 84.0, 106.0, 56.0, 86.0, 105.0, 58.0, 118.0, 133.0, 84.0, 119.0, 138.0, 88.0, 90.0, 109.0, 78.0, 126.0, 142.0, 131.0, 149.0, 167.0, 153.0, 79.0, 95.0, 68.0, 117.0, 128.0, 95.0, 130.0, 139.0, 108.0, 69.0, 76.0, 47.0, 121.0, 131.0, 97.0, 102.0, 121.0, 77.0, 79.0, 80.0, 56.0, 143.0, 100.0, 102.0, 169.0, 93.0, 108.0, 116.0, 71.0, 78.0, 44.0, 28.0, 29.0, 13.0, 9.0, 10.0, 14.0, 8.0, 15.0, 16.0, 10.0, 16.0, 16.0, 13.0, 18.0, 14.0, 14.0, 19.0, 19.0, 22.0, 26.0, 18.0, 21.0, 24.0, 21.0, 24.0, 22.0, 28.0, 35.0, 27.0, 32.0, 42.0, 38.0, 54.0, 67.0, 68.0, 79.0, 95.0, 78.0, 159.0, 177.0, 137.0, 117.0, 133.0, 94.0, 76.0, 96.0, 60.0, 81.0, 98.0, 56.0, 103.0, 116.0, 73.0, 110.0, 125.0, 82.0, 99.0, 114.0, 84.0, 94.0, 107.0, 91.0, 82.0, 96.0, 76.0, 77.0, 85.0, 59.0, 98.0, 97.0, 69.0, 137.0, 137.0, 108.0, 103.0, 104.0, 76.0, 122.0, 127.0, 94.0, 141.0, 148.0, 108.0, 86.0, 71.0, 52.0, 138.0, 84.0, 90.0, 183.0, 104.0, 119.0, 133.0, 86.0, 91.0, 68.0, 47.0, 49.0, 29.0, 20.0, 25.0, 9.0, 6.0, 17.0, 11.0, 10.0, 18.0, 16.0, 18.0, 21.0, 13.0, 19.0, 21.0, 14.0, 23.0, 24.0, 44.0, 54.0, 56.0, 123.0, 134.0, 127.0, 106.0, 126.0, 88.0, 87.0, 115.0, 51.0, 72.0, 101.0, 36.0, 56.0, 80.0, 36.0, 69.0, 90.0, 40.0, 104.0, 120.0, 69.0, 102.0, 120.0, 92.0, 91.0, 109.0, 62.0, 95.0, 110.0, 62.0, 103.0, 114.0, 75.0, 88.0, 96.0, 65.0, 72.0, 81.0, 52.0, 85.0, 94.0, 64.0, 80.0, 83.0, 53.0, 94.0, 89.0, 62.0, 120.0, 119.0, 91.0, 135.0, 139.0, 110.0, 90.0, 102.0, 68.0, 136.0, 157.0, 117.0, 128.0, 132.0, 104.0, 112.0, 98.0, 73.0, 147.0, 127.0, 97.0, 110.0, 95.0, 74.0, 74.0, 57.0, 49.0, 64.0, 47.0, 49.0, 20.0, 9.0, 20.0, 12.0, 7.0, 15.0, 11.0, 10.0, 14.0, 12.0, 14.0, 18.0, 14.0, 19.0, 22.0, 49.0, 57.0, 55.0, 129.0, 143.0, 122.0, 119.0, 141.0, 87.0, 107.0, 138.0, 53.0, 104.0, 139.0, 46.0, 100.0, 134.0, 55.0, 72.0, 97.0, 38.0, 48.0, 59.0, 29.0])

In [138]:
len(image_train['image_array'][0])

3072

In [139]:
type(image_train['image_array'][0])

array.array

In [140]:
32*32*3

3072

32x32 픽셀 크기의 RGB 컬러 이미지이기 때문에 32x32x3 = 3072만큼의 데이터가 필요합니다. 각 픽셀은 256bit 그라디에이션 이미지이기 때문에 0~255의 값을 가집니다.

In [143]:
image_train['image_array'][0][0:32]

array('d', [73.0, 77.0, 58.0, 71.0, 68.0, 50.0, 77.0, 69.0, 44.0, 120.0, 116.0, 83.0, 125.0, 120.0, 90.0, 155.0, 148.0, 117.0, 147.0, 152.0, 106.0, 133.0, 136.0, 92.0, 112.0, 101.0, 75.0, 100.0, 84.0, 68.0, 100.0, 78.0])

첫번째 이미지의 R 색상의 맨 윗줄의 데이터가 출력됩니다.

In [153]:
def normalize_pixel(array):
    new_list = []
    for v in array:
        new_list.append(v/255)
    return new_list

In [154]:
image_train_norm = image_train['image_array'][0:1].apply(normalize_pixel)

In [155]:
image_train_norm[0][0:32]

array('d', [0.28627450980392155, 0.30196078431372547, 0.22745098039215686, 0.2784313725490196, 0.26666666666666666, 0.19607843137254902, 0.30196078431372547, 0.27058823529411763, 0.17254901960784313, 0.47058823529411764, 0.4549019607843137, 0.3254901960784314, 0.49019607843137253, 0.47058823529411764, 0.35294117647058826, 0.6078431372549019, 0.5803921568627451, 0.4588235294117647, 0.5764705882352941, 0.596078431372549, 0.41568627450980394, 0.5215686274509804, 0.5333333333333333, 0.3607843137254902, 0.4392156862745098, 0.396078431372549, 0.29411764705882354, 0.39215686274509803, 0.32941176470588235, 0.26666666666666666, 0.39215686274509803, 0.3058823529411765])

In [158]:
image_train['image_array'][0][0] / 255

0.28627450980392155